---
import "../../../assets/css/util.css";
---

<div id="loading" class="notIntractable">
  <div class="content">
    <img src="/💜.svg" alt="" height="25px">
    <p>💜 Loading...</p>
  </div>
</div>

<style>
	#loading {
    z-index: 1000;
		position: absolute;
    top: 0;
    left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-background);
    animation: reveal 3s linear 2s forwards; */
	}

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: move 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s forwards;
  }

  img {
    animation: blink 2s linear 0s infinite normal none;
  }
  
  @keyframes reveal {
    0% { opacity: 100%; }
    100% { opacity: 0%; }
  }

  @keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100vh); opacity: 0%; }
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
  }
</style>