---
import PageLayout from '../layouts/page.layout.astro';
---

<PageLayout>
	<h1>⚠ Website under construction, for the old one go to <a href="https://index.cait.moe">index.cait.moe</a></h1><br>
</PageLayout>
