---
import "../../../assets/css/util.css"

import Icon from "../other/icon.component.astro";
import CoolText from "../other/coolText.component.astro";
---

<footer>
	<div class="left">
		<div class="links">
			<Icon href="https://github.com/psikoo">
				<svg slot="icon" class="notIntractable" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
				<p slot="text" class="notSelectable">Github</p>
			</Icon>
			<Icon href="https://url.cait.moe/?u=discord">
				<svg slot="icon" class="notIntractable" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Discord</title><path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"/></svg>
				<p slot="text" class="notSelectable">Discord</p>
			</Icon>
			<Icon href="https://github.com/psikoo/caitmoe">
				<svg slot="icon" class="notIntractable" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Git</title><path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/></svg>
				<p slot="text" class="notSelectable">Repository</p>
			</Icon>
		</div>
		<div class="links">
			<Icon href="https://dgt.cait.moe">
				<svg slot="icon" class="notIntractable" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3H0V14H16V3H13L11 1H5L3 3ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z" fill="#000000"></path> </g></svg>
				<p slot="text" class="notSelectable">DGTCW</p>
			</Icon>
			<Icon href="https://y2k.cait.moe">
				<svg slot="icon" class="notIntractable" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.00001 0H7.00001L5.51292 4.57681L0.700554 4.57682L0.0825195 6.47893L3.97581 9.30756L2.48873 13.8843L4.10677 15.0599L8.00002 12.2313L11.8933 15.0599L13.5113 13.8843L12.0242 9.30754L15.9175 6.47892L15.2994 4.57681L10.4871 4.57681L9.00001 0Z" fill="#000000"></path> </g></svg>
				<p slot="text" class="notSelectable">Y2K</p>
			</Icon>
			<Icon href="https://blog.cait.moe">
				<svg slot="icon" class="notIntractable" fill="#000000" viewBox="-2.96 0 53.081 53.081" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="note_taking" data-name="note taking" d="M374.217,139.739v52.744a.173.173,0,0,0,.168.167h8.384V139.569h-8.384A.174.174,0,0,0,374.217,139.739Zm42.587-.17H385.1V192.65h31.7a.172.172,0,0,0,.166-.17V139.738A.173.173,0,0,0,416.8,139.569Zm4.106,5.662h-1.719v8.889h1.726c.248,0,.47-.08.47-.168V145.4C421.387,145.314,421.161,145.231,420.91,145.231Zm0,32.87h-1.719v8.886h1.726c.248,0,.47-.077.47-.168V178.27C421.387,178.18,421.165,178.1,420.91,178.1Zm0-16.433h-1.719v8.886h1.726c.252,0,.47-.079.47-.171v-8.548C421.387,161.746,421.165,161.668,420.91,161.668Z" transform="translate(-374.217 -139.569)"></path> </g></svg>
				<p slot="text" class="notSelectable">Blog</p>
			</Icon>
		</div>
	</div>
	<div class="right">
		<div class="about">
			Made by <CoolText>Caitlyn</CoolText>!
		</div>
		<div class="date">
			<div class="hideOnTablet">
				Last updated: {new Date().toLocaleDateString("en-ES", { weekday: "long", year: "numeric", month: "long", day: "numeric" })}
			</div>
			<div class="hideOnPc">
				Last updated: {new Date().toLocaleDateString("en-ES", { day: "2-digit", month: "2-digit", year: "numeric" })}
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		width: inherit;
		position: fixed;
  	left: 50%;
  	bottom: -1rem;
		transform: translateX(-50%);
		padding: 2rem;
		border-radius: 15px;
		border: 1px solid var(--color-primary);
		background-color: var(--color-background);
		display: flex;
		gap: 1rem;
	}

	.left {
		display: flex;
		gap: 2rem;
	}
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.about {
		width: 100%;
		text-align: end;
		text-wrap: nowrap;
	}
	.date {
		width: 100%;
		text-align: end;
	}

</style>