---
import "../../assets/css/global.css"

import CoolText from "../global/other/coolText.component.astro";
---

<div class="about">
	My name is 
	<CoolText class="noDecoration">Caitlyn</CoolText>
	<div class="noWhiteSpace">,</div> 
	and im a software engineering student. I mainly do 
	<a href="https://github.com/psikoo/caitmoe" target="_blank">web dev</a> 
	and
	<a href="https://github.com/psikoo/DGTcameradownloader" target="_blank">java apps</a>, 
	but i also enjoy making small
	<a href="https://github.com/psikoo/EAN-13_generator" target="_blank">js scripts</a>. 
	I have more one off projects like this 
	<a href="https://github.com/psikoo/publicIpBot" target="_blank">discord bot</a>
	or some 
	<a href="https://github.com/psikoo/whisper" target="_blank">Vencord plugins</a>. 
	You can always contact me through 
	<a href="https://url.cait.moe/?u=discord" target="_blank">discord</a>.
	<br class="hideOnPhone">
	<small>(You can find more about me <a href="https://www.cait.moe/about">here</a> 🐈)</small>
</div>

<style>
	a:active {
		font-size: 100%;
		line-height: 1rem;
	}
	.about {
		font-size: large;
		line-height: 1.5rem;
	}
</style>
