---
import "../../assets/css/util.css"

import CoolText from "../global/other/coolText.component.astro";
---

<h1>My <CoolText>Websites</CoolText><div class="noWhiteSpace">:</div></h1>
<div class="websites">
	<ul>
		<li>
			<a href="https://dgt.cait.moe" target="_blank">dgt.cait.moe</a>: 
			Website dedicated to tracking DGT cameras.
		</li>
		<li>
			<a href="https://y2k.cait.moe" target="_blank">y2k.cait.moe</a>: 
			Y2K themed about me inspired by MySpace profiles. 
		</li>
		<li>
			<a href="https://blog.cait.moe" target="_blank">blog.cait.moe</a>: 
			Blog were I very occasionally write about things I find cool.
		</li>
		<li>
			<a href="https://url.cait.moe" target="_blank">url.cait.moe</a>: 
			Url shortener similar to services like bit-ly.
		</li>
		<li>
			<a href="https://cmd.cait.moe" target="_blank">tv.cait.moe</a>: 
			RTVE - teletext website, with QOL features.
		</li>
		<li>
			<a href="https://cmd.cait.moe" target="_blank">cmd.cait.moe</a>: 
			Cmd-like site + a morse interpreter + a coop tamagotchi.
		</li>
	</ul>
</div>

<style>
	a:active {
		font-size: 100%;
		line-height: 1rem;
	}
	.websites {
		font-size: large;
		line-height: 1.5rem;
	}
</style>
