---
import '../assets/css/reset.css';
import '../assets/css/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<title>cait.moe</title>
		<meta name="author" content="Caitlyn">
    <meta name="description" content="Caitlyn's silly about me page :3">
    <meta name="keywords" content="Caitlyn">

		<meta property="og:title" content="cait.moe" />
		<meta property="og:site_name " content="cait.moe" />
  	<meta property="og:url" content="https://www.cait.moe" />
  	<meta property="og:type" content="website" />
  	<meta property="og:description" content="
			Caitlyn's silly about me page :3
			💜 come say hi!"/>

		<meta property="og:image" content="https://www.cait.moe/out/💜.svg" />
		<meta property="og:image:width" content="160" />
		<meta property="og:image:height" content="160" />
		<meta property="og:image:alt" content="💜" />
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/out/💜.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		font-family: atkinson, sans-serif;
		color: var(--color-text);
		background: var(--color-background);
		background: linear-gradient(90deg, var(--color-background-light) 0%, var(--color-background) 15%, var(--color-background) 85%, var(--color-background-light) 100%);
	}

	@media screen and (max-width: 450px) {
		html,
		body {
			background: var(--color-background);
		}
	}
</style>
