---
import MainLayout from '../layouts/main.layout.astro';
import Header from '../components/global/header/header.component.astro';
import Footer from '../components/global/footer/footer.component.astro';
import Loading from '../components/global/other/loading.component.astro';
---

<MainLayout>
	<Loading />
	<div id="site">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</div>
</MainLayout>

<style>
	#site {
		width: 40%;
		margin: auto;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	@media screen and (max-width: 1300px) {
		#site {
			width: 60%;
			margin: auto;
			margin-top: 1rem;
		}
	}
	
	@media screen and (max-width: 450px) {
		#site {
			width: calc(100% - 2rem);
			margin: auto;
			margin-top: 1rem;
		}
	}
</style>